@import "_variables";

.btn {
  width: 100%;
  margin: 1rem 0rem;
  background-image: none;
  border: 1px solid transparent;
  border-radius: $border-radius-xl;
  cursor: pointer;
  display: inline-block;
  font-size: 1.8rem;
  font-weight:600;
  line-height: 1;
  padding: .8rem 1.6rem;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.container2020 .btn {
  line-height: 24px;
  padding-bottom: 12px;
  padding-top: 12px;
}

.container2020 .btn:not([class*="u-margin-right"]) {
  margin-right: 15px;
}

.container2020 .btn:last-of-type {
  margin-right: 0;
}

.container2020 .btn-height {
  line-height: 48px;
}

.btn:active,
.btn:focus,
.btn:hover {
  text-decoration: none;
}

.btn-purple {
  color: $color-primary;
  background-color: $color-white;
  border-color: $color-primary;
  transition: all .2s;
}

.btn-purple:active,
.btn-purple:focus,
.btn-purple:hover {
  color: $color-white;
  background-color: $color-primary;
  border-color: $color-primary;
}

.btn-purple-inv {
  color: $color-white;
  background-color: $color-primary;
  border-color: $color-white;
  transition: all .2s;
}

.btn-purple-inv:active,
.btn-purple-inv:focus,
.btn-purple-inv:hover {
  color: $color-primary;
  background-color: $color-white;
  border-color: $color-primary;
}

.cta-btn {
  display: inline-block;
  padding: 16px;
  font-size: 16px;
  min-width: 140px;
  min-height: 52px;
}

.cta-btn.orange {
  background-color: $color-accent;
  color: $color-white;
  box-shadow: $button-box-shadow;
}

.cta-btn.orange:active,
.cta-btn.orange:focus,
.cta-btn.orange:hover {
  background-color: $color-accent-alt;
  color: $color-white;
  box-shadow: $button-box-shadow;
}

.cta-btn.orange-light {
  background-color: $color-button-primary;
  color: $color-white;
  box-shadow: $button-box-shadow;
}

.cta-btn.orange-light:active,
.cta-btn.orange-light:focus,
.cta-btn.orange-light:hover {
  background-color: $color-orange-2020-alt;
  color: $color-white;
}

.cta-btn.accent {
  background-color: $color-accent;
  color: $color-white;
}

.cta-btn.accent:active,
.cta-btn.accent:focus,
.cta-btn.accent:hover {
  background-color: $color-accent-alt;
}

.cta-btn.ghost {
  border: 1px solid $color-white;
  background-color: transparent;
  color: $color-white;
}

.cta-btn.ghost:active,
.cta-btn.ghost:focus,
.cta-btn.ghost:hover {
  border-color: $color-accent;
  background-color: $color-accent;
}

.cta-btn.ghost-orange {
  border: 2px solid $color-accent;
  background-color: transparent;
  color: $color-accent;
}

.cta-btn.ghost-orange:active,
.cta-btn.ghost-orange:focus,
.cta-btn.ghost-orange:hover {
  border-color: $color-accent-alt;
  color: $color-accent-alt;
}

.cta-btn.ghost-orange-fill {
  border: 2px solid $color-accent;
  background-color: transparent;
  color: $color-accent;
}

.cta-btn.ghost-orange-fill:active,
.cta-btn.ghost-orange-fill:focus,
.cta-btn.ghost-orange-fill:hover {
  border-color: $color-accent-alt;
  background-color: $color-accent-alt;
  color: $color-white;
}

.cta-btn.ghost-accent {
  border: 1px solid $color-accent;
  background-color: transparent;
  color: $color-accent;
}

.cta-btn.ghost-accent:active,
.cta-btn.ghost-accent:focus,
.cta-btn.ghost-accent:hover {
  border-color: $color-accent-alt;
  background-color: $color-accent;
  color: $color-white;
}

.cta-btn.ghost-purple {
  border: 2px solid $color-primary;
  background-color: transparent;
  color: $color-primary;
}

.cta-btn.ghost-purple:hover,
.cta-btn.ghost-purple:hover,
.cta-btn.ghost-purple:hover {
  border-color: $color-primary-dark;
  color: $color-primary-dark;
}

.cta-btn.ghost-primary {
  border: 1px solid $color-primary;
  background-color: transparent;
  color: $color-primary;
}

.cta-btn.ghost-primary:active,
.cta-btn.ghost-primary:focus,
.cta-btn.ghost-primary:hover {
  background-color: $color-primary;
  color: $color-white;
}

.cta-btn.purple {
  background-color: $color-primary;
  color: $color-white;
}

.cta-btn.purple:active,
.cta-btn.purple:focus,
.cta-btn.purple:hover {
  background-color: $color-primary-dark;
  color: $color-white;
}

.cta-btn.purple-reverse {
  border: 1px solid $color-white;
  background-color: $color-lt-purple-accent;
  color: $color-white;
}

.cta-btn.purple-reverse:active,
.cta-btn.purple-reverse:focus,
.cta-btn.purple-reverse:hover {
  border-color: $color-lt-purple-accent;
  background-color: $color-white;
  color: $color-lt-purple-accent;
}

.cta-btn.lavender {
  background-color: #9b51e0;
  color: $color-white;
  box-shadow: $button-box-shadow;
}

.cta-btn.lavender:active,
.cta-btn.lavender:focus,
.cta-btn.lavender:hover {
  background-color: #8226d9;
  color: $color-white;
}

.btn-primary {
  background-color: $color-primary;
  color: $color-white;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: $color-primary-dark;
  color: $color-white;
}

//////////////////////////////
/* NEW *//////////////////////
//////////////////////////////

.btn-dark {
  background: $color-black333;
  color: #ffffff;
}

.btn-dark:active,
.btn-dark:focus,
.btn-dark:hover {
  background: $color-black;
}

.btn-light {
  border-color: $color-black333;
  color: $color-black333;
  box-shadow: $button-box-shadow;
}

.btn-light:active,
.btn-light:focus,
.btn-light:hover {
  background-color: $color-black333;
  border-color: $color-black333;
  color: $color-white;
}

//////////////////////////////
/* TODO: BREAK INTO SEPARATE STYLESHEETS OR REPLACE *//////////////////////
//////////////////////////////

.navbar .btn-nav-cta {
  background-color: $color-accent;
  color: $color-white;
  font-size: 1.6rem;
  font-weight: 700;
  padding: .4rem 1rem;
}

.navbar .navbar-left .btn-nav-cta {
  padding: .4rem 1rem;
  margin: 0;
}

.navbar .btn-nav-cta:active,
.navbar .btn-nav-cta:focus,
.navbar .btn-nav-cta:hover {
  background-color: $color-accent-alt;
  color: $color-white;
}

@media (min-width: 960px) {
  .btn{
    margin: unset;
    margin-bottom: 0;
    width: unset;
  }

  .btn:not(:first-child){
    margin-left: 0.5rem;
  }
}
